h1 {
  font-family: Roboto;
  color: #2b3b48;
  box-sizing: border-box;
  font-size: 25px;
  margin: 0 0 42px;
}

body {
  font-family: Roboto;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 31px;
}

img.png {
  object-fit: contain;
  height: 31px;
  width: 45px;
}

.usd {
  margin: 0 70px 0 1px;
  font-family: Roboto;
  font-size: 16px;
  color: #2b3b48;
}

.eur {
  margin: 0 70px 0 1px;
  font-family: Roboto;
  font-size: 16px;
  color: #2b3b48;
}

.jpy {
  margin: 0 70px 0 1px;
  font-family: Roboto;
  font-size: 16px;
  color: #2b3b48;
}

.gbp {
  margin: 0 70px 0 1px;
  font-family: Roboto;
  font-size: 16px;
  color: #2b3b48;
}

.dkk {
  margin: 0 70px 0 1px;
  font-family: Roboto;
  font-size: 16px;
  color: #2b3b48;
}

.nok {
  margin: 0 70px 0 1px;
  font-family: Roboto;
  font-size: 16px;
  color: #2b3b48;
}

.amerikan-dolar {
  font-family: Roboto;
  font-size: 12px;
  color: #2b3b48;
  white-space: nowrap;
}

.avrupa-para-birimi {
  font-family: Roboto;
  font-size: 12px;
  color: #2b3b48;
  white-space: nowrap;
}

.japon-yeni {
  font-family: Roboto;
  font-size: 12px;
  color: #2b3b48;
}

.ingiliz-sterlini {
  font-family: Roboto;
  font-size: 12px;
  color: #2b3b48;
  white-space: nowrap;
}

.danimarka-kronu {
  font-family: Roboto;
  font-size: 12px;
  color: #2b3b48;
  white-space: nowrap;
}

.norvec-kronu {
  font-family: Roboto;
  font-size: 12px;
  color: #2b3b48;
  white-space: nowrap;
}

.text-right {
  text-align: right;
  margin: 0 25px;
}

.buy {
  font-family: Roboto;
  font-size: 12px;
  color: #4f6477;
}

.sell {
  font-family: Roboto;
  font-size: 12px;
  color: #4f6477;
}

.doviz-container {
  height: 288px;
  padding: 19px 20px 26px;
  background-image: linear-gradient(154deg, #2b3b48 32%, #8093a5 115%);
  align-items: center;
  margin: 0 0 26px;
}

.doviz-cevir {
  font-family: Roboto;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.converter-amount {
  display: flex;
  justify-content: center;
}

.converter__amount-input {
  width: 100%;
  padding: 15px 0px 13px 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  border: 0px;
  outline: 0px;
}

.converter__amount-select {
  border: 0;
  width: 86px;
  padding: 1px 18px 0 15px;
  outline: 0px;
  appearance: none;
  padding-left: 5px;
}

img.buttonschange {
  justify-content: center;
  object-fit: contain;
  align-items: center;
  margin: 19px 83px 19px 84px;
}

.converter__image-changeButton {
  cursor: pointer;
}

.converter-result {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  padding: 15px 16px 13px 15px;
  width: 100%;
  border: none;
}

.btn {
  width: 352px;
  height: 50px;
  border: 2px solid black;
  border-radius: 0%;
}

.btn-dark {
  --bs-btn-bg: #2b3b48;
}

.detay {
  width: 93px;
  height: 18px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.94px;
  text-align: center;
  color: #fff;
}

.btn-default {
  margin: 0 82px;
  width: 352px;
  height: 50px;
  border: 2px solid black;
  border-radius: 0%;
  background-color: #fff;
}

.pys {
  width: 115px;
  height: 19px;
  margin: 6px 4px 7px 0;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #2b3b48;
}

.icongo {
  display: none;
}

.converter_image {
  margin-top: 19px;
  margin-bottom: 19px;
}

@media only screen and (max-width:991px) {
  .btn {
    margin: 2px 0px;
  }
}

@media only screen and (max-width:991px) {
  .icongo {
    display: revert;
  }
}

@media only screen and (max-width:1200px) {
  .btn {
    width: 266px;
  }
}

@media only screen and (max-width:991px) {
  .btn {
    width: 100%;
    border: none;
  }
}

@media only screen and (max-width:991px) {
  h1 {
    margin: -4px 0px 28px;
    font-size: 22px;
  }
}

@media only screen and (max-width:991px) {
  .path1 {
    display: none;
  }
}

@media only screen and (max-width:991px) {
  .doviz-container {
    margin: 33px 0 26px;
  }
}

@media only screen and (max-width:1200px) {
  .btn-default {
    margin: 0 44px;
    width: 266px;
  }
}

@media only screen and (max-width:991px) {
  .btn-default {
    margin: auto;
    border: none;
    width: 100%;
  }
}

.doviz {
  position: relative;
  margin-bottom: 2.5rem !important;
  display: flex;
}

.doviz-dkk {
  position: relative;
  margin-bottom: 2.5rem !important;
  display: flex;
}

.doviz-nok {
  position: relative;
  margin-bottom: 2.5rem !important;
  display: flex;
}

.doviz::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  background-color: #bac9d5;
  bottom: -15px;
}

.yazi {
  margin: 0 15px;
}

@media only screen and (max-width:1200px) {
  .yazi {
    margin: 0;
  }
}

@media only screen and (max-width:1200px) {
  .text-right {
    margin: 0 5px;
  }
}

@media only screen and (max-width:991px) {
  .doviz::after {
    width: 90%;
  }
}

@media only screen and (max-width:991px) {
  .text-right {
    margin: 0 20px;
  }
}

@media only screen and (max-width:991px) {
  .yazi {
    margin: 0 15px;
  }
}

@media only screen and (max-width:760px) {
  .doviz-dkk::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #bac9d5;
    bottom: -15px;
  }
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: flex;
  padding: 3px;
  width: 6px;
  margin: 17px 0 6px -21px;
  transform: rotate(-270deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}